<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Node Web Server Help</title>
	</head>


	<body>
		{{> header}}	
		<p>{{welcomeMessage}} This is a help page.</p>
		{{> footer}}
	</body>
</html>
